{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-export-default-from"
  ]
}
